<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com">
</head>
<body>
    <div class="vh-100 d-flex align-items-center">
        <div class="mx-auto text-center">
        <p>{{word}}</p>
        <p>COUNTER: {{counter}}</p>
        <a href="/generate" class="btn btn-primary">GENERATE WORD</a>
    </div>
    </div>
</body> 
</html>